body {
	background: url(images/congruent_outline.png) repeat;
}

header {
	width: 100%;
	height: 100px;
	font-size: 46px;
}

nav ul {
	list-style: none;
	margin-left: -px;
	margin-top: -5px;
}

nav ul li {
	display: inline;
	margin: 10px;
	text-align: center;
	font-family: "Oxygen", Arial;
	font-size: 20px;
}

h1 {
	color: black;
	font-family: "Oxygen", Arial;
	margin-left: 15px;
	margin-top: 5px;
	font-size: 70px;
}

.main-page-p {
	color: black;
	margin: auto;
	display: block;
	text-align: center;
	padding:25px 15px 25px 15px;
	font-family: "Amatic SC", Arial;
	font-size: 30px;
}

.w-c {
	margin: auto;
	display: block;
	width: 700px;
	height: auto;
}

.aboutme-p {
	color: black;
	margin: auto;
	display: block;
	text-align: center;
	padding:25px 15px 25px 15px;
	font-family: 'Oxygen', Arial;
}

a:link{
	color: black;
	text-decoration: none;
}

a:hover{
	color: grey;
	text-decoration: none;
}

a:active{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

.wrphotos-img{
	height: 300px;
	width: auto;
	margin-left: 370px;
}

.resume-titles{
	font-size: 25px;
	font-family: 'Oxygen', Arial;
}

.resume-school-p{
	font-family: 'Oxygen', Arial;
}

.reume-extracurriculars-p{
	font-family: 'Oxygen', Arial;
}

.reume-volunteering-p{
	font-family: 'Oxygen', Arial;
}

.reume-experiences-p{
	font-family: 'Oxygen', Arial;
}

.reume-internships-p{
	font-family: 'Oxygen', Arial;
}

.reume-work-p{
	font-family: 'Oxygen', Arial;
}

.photography-p-h {
	color: black;
	margin: auto;
	display: block;
	text-align: center;
	padding:25px 15px 25px 15px;
	font-family: 'Oxygen', Arial;
	font-size: 50px;
}

.photography-p-s-h {
	color: black;
	margin: auto;
	display: block;
	text-align: center;
	padding:25px 15px 25px 15px;
	font-family: 'Oxygen', Arial;
	font-size: 40px;
}

.photography-p {
	color: black;
	margin: auto;
	display: block;
	text-align: center;
	padding:25px 15px 25px 15px;
	font-family: 'Oxygen', Arial;
}

.sunset-vespers1 {
	margin: auto;
	margin-top: 5px;
	display: block;
	width: 900px;
	height: auto;
}

.sunset-vespers2 {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 900px;
	height: auto;
}

.sand1 {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 900px;
	height: auto;
}

.sand2 {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 900px;
	height: auto;
}

.pikes {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 900px;
	height: auto;
}

.oxbel {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 900px;
	height: auto;
}

.shadow-shot {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 900px;
	height: auto;
}

.columbia-summit {
	margin: auto;
	margin-top: 20px;
	display: block;
	width: 900px;
	height: auto;
}

.columbia-wheel {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 100px;
	display: block;
	width: 900px;
	height: auto;
}